
<link rel="stylesheet" href="/jwysiwyg/jquery.wysiwyg.css" type="text/css" />
<script type="text/javascript" src="jwysiwyg/jquery.wysiwyg.js"></script>

<script>
    $(function() {
    	//
    	// Intialize GUI
    	//
        $('#wysiwyg').wysiwyg();
		  
		  //
		  // Intialize Events
		  //
		  
		  $('#add-question').click(function() {
				var question = $('#wysiwyg').val();
				
				$.ajax({
					type: "POST",
					url: "/collect/question",
					data: JSON.stringify({question: question}),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function(data) {
						alert("question added...");
					},
					error: function(err) {
						var msg = 'Status: ' + err.status + ': ' + err.responseText;
						alert(msg);
					}
				});
				return false;
			});
		  
		  // Init focus for page
		  // $('#wysiwyg').wysiwyg('focus'); does not work
		  $("#wysiwygIFrame")[0].contentWindow.focus();
    });
</script>
   
<h3>Question</h3>
<div>
	<textarea name="wysiwyg" id="wysiwyg" rows="5" cols="103"></textarea>
</div>

<h3>Answer</h3>
<h3>Area</h3>
<h3>Area</h3>
<a id="add-question" href="#">Submit Question</a>



