
<link rel="stylesheet" href="/jwysiwyg/jquery.wysiwyg.css" type="text/css" />
<script type="text/javascript" src="jwysiwyg/jquery.wysiwyg.js"></script>

<style>
	.question-label 
	{
		vertical-align: top;
	}
</style>
<script>

	function addPlusToLastOption(){
		var lastInput = null;
		$("#addAnswertOption").remove();
		
		$(':input', '#answerTypeDiv').each(function() {
            lastInput = this;
        });
        
        if(lastInput!=null) {
        	$(lastInput).after("<a id='addAnswertOption' href='#'>Add Option</a>");	
        } 
        
        $("#addAnswertOption").click(addAnswerOption);
        return false;
	}
	
	function addAnswerOption(){
		$('#answerTypeDiv').append('Option: <input id="answerOption"/><br/>');
		addPlusToLastOption();
	}

	function updateAnswerType() {
		var answerType = $('#answerType').val();
		if(answerType == "Text") {
			$('#answerTypeDiv').html("<i>A text area will be displayed in the questionnaire.</i>");	
		} else if(answerType == "Multiple Choice") {
			$('#answerTypeDiv').html("");
			addAnswerOption();
			
		} 
	}
	
	function focusQuestionField(){
		// $('#wysiwyg').wysiwyg('focus'); does not work
		  $("#wysiwygIFrame")[0].contentWindow.focus();
	}
	
    $(function() {
    	//
    	// Intialize GUI
    	//
        $('#wysiwyg').wysiwyg();
		  
		  //
		  // Intialize Events
		  //
		  
		  $('#add-question').click(function() {
				var question = $('#wysiwyg').val();
				$.ajax({
					type: "POST",
					url: "/collect/question",
					data: {'question': question},
					dataType: "json",
					success: function(data) {
						alert("question added..."+ data);
					},
					error: function(err) {
						var msg = 'Status: ' + err.status + ': ' + err.responseText;
						alert(msg);
						focusQuestionField();
					}
				});
				return false;
			});
		  
		  // Init focus for page
		  focusQuestionField();
		  updateAnswerType();
    });
</script>
<table>
	<tr>
		<td class="question-label"><b>Question</b></td>
		<td>
			<div>
				<textarea name="wysiwyg" id="wysiwyg" rows="5" cols="103"></textarea>
			</div>
		</td>
	</tr>
	<tr>
		<td class="question-label"><b>Answer</b></td>
		<td>
			<select id="answerType" onchange="updateAnswerType()">
				<option>Text</option>
				<option>Multiple Choice</option>
			</select>
			<br/><br/>
			<div id="answerTypeDiv"></div>
		</td>
	</tr>
	<tr>
		<td class="question-label"><b>Area</b></td>
		<td>
			<select id="answerType" onchange="updateAnswerType()">
				<option>General Programming</option>
				<option>Desktop Development</option>
				<option>Web Development</option>
				<option>Mobile Development</option>
				<option>Database</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="question-label"><b>Level</b></td>
		<td>
			<select id="answerType" onchange="updateAnswerType()">
				<option>Basic</option>
				<option>Intermediate</option>
				<option>Advanced</option>
			</select>
		</td>
	</tr>
</table>
<br/>
<a id="add-question" href="#">Submit Question</a>



